<a class="object" tabindex="0">
	<div class="object__rank">#{{rank}}</div>
	<img class="object__image" src="{{image}}" alt="{{name}}">

	<div class="object__info">
		<div class="object__name">{{name}}</div>
		<div class="object__subname">{{artist}}</div>
		<div class="object__plays">{{playcount}} plays</div>
	</div>
</a>
